{% extends 'base.html' %}

{% block title %}
Gallery - ReelCraft AI
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
 {% endblock %} 
 
 {% block content %}
    <div class="container gallery-container">
<h1 class="gallery-title">Reel Gallery</h1>
<div class="gallery-grid">
    <!-- Example reels - these would be populated dynamically in a real application -->
    {% for reel in reels %}
    <div class="reel-card">
        <video src="/static/reels/{{ reel }}" controls></video>

        <p class="reel-name">{{ reel }}</p>

        <div class="reel-actions">
            <a href="static/reels/{{ reel }}" download class="download-btn">Download</a>
            <a href="#" class="delete-btn" onclick="openDeleteModal('{{ reel }}')">
                Delete
            </a>
        </div>

    </div>
    {% endfor %}


</div>
</div>

<!-- Delete confirmation Modal -->
<div id="deleteModal" class="modal-overlay">
    <div class="modal-box">
        <h3>Delete Reel?</h3>
        <p>Are you sure you want to delete this reel?</p>

        <div class="modal-actions">
            <button class="btn-cancel" onclick="closeDeleteModal()">Cancle</button>
            
            <a id="confirmDeleteBtn" class="btn-delete">Yes, Delete</a>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    function openDeleteModal(reelName){
        const modal = document.getElementById("deleteModal");
        const deleteBtn = document.getElementById("confirmDeleteBtn");
         
        deleteBtn.href = "/delete/" + reelName;
        modal.style.display = "flex";
    }

    function closeDeleteModal(){
        document.getElementById("deleteModal").style.display = "none";
    }

    </script>
{% endblock %}